* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

#root {
  width: 100%;
  height: 100vh;
}

button {
  transition: all 200ms ease-in-out;
}

